<table class="normal" width="100%" cellspacing="0" cellpadding="2">
	<tr>
		<td>
		<table class="normal" width="100%" cellspacing="0" cellpadding="0">
			<tr bgcolor="Gainsboro">
				<td class="normal" align="left" width="1" valign="middle">[EDIT]</td>
				<td class="normal" align="left" width="16" valign="middle">[FILEICON]</td>
				<td class="normal" align="left" valign="middle" style="padding-left:3px">[TITLE]&nbsp;  -- <img src="[TEMPLATEIMAGEFOLDER]link.gif" border="0" alt="" />&nbsp;[DOWNLOAD]</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr bgcolor="white">
		<td class="normal" align="left" valign="top">
			<table class="normal" width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td width="33%">&nbsp;[LABEL:Hits]: [DOWNLOADCOUNT]</td>
					<td width="34%" align="center">
						[LABEL:Updated]:<br />
						[UPDATEDDATE]
					</td>
					<td width="33%">[RATINGS]</td>
				</tr>
			</table>
			[RATINGSFORM]
			<hr />
			[DESCRIPTION]
		</td>
	</tr>
	<tr bgcolor="white">
		<td class="normal" align="left" valign="middle" style="padding-top: 3px; border-top: 1px dotted gainsboro">
			[COMMENTS]<br />
			[COMMENTSFORM]
	  </td>
	</tr>
</table>
<br />
