<script type="text/javascript" src="/DotNetNuke/DesktopModules/Repository/js/showhide.js"></script>
<table class="normal" width="100%" cellspacing="0" cellpadding="0">
	<tr bgcolor="#E9E9E9" width="100%">
		<td class="normal" align="left" colspan="3">[UPLOADBUTTON][MODERATEBUTTON]</td>
	</tr>
	<tr bgcolor="white" width="100%">
		<td class="breadcrumb" align="left" valign="top" width="155">
			[LABEL:Categories]<br />
			[CATEGORIES]
		</td>
		<td class="breadcrumb" align="left" valign="top" width="100">
			[LABEL:Sort]<br />
			[SORT]
		</td>
		<td class="breadcrumb" align="right" valign="top">
			[RSS]<br />
			[PREVIOUSPAGE]&nbsp;[CURRENTPAGE]&nbsp;[LABEL:of]&nbsp;[PAGECOUNT]&nbsp;[NEXTPAGE]
		</td>
	</tr>
</table>
