<table class="normal" width="100%" cellspacing="0" cellpadding="2" style="border-top:1px solid #ccc;border-left:1px solid #ccc;border-bottom:3px solid #aaa;border-right:3px solid #aaa;">
	<tr>
		<td>
			<table class="normal" width="100%" cellspacing="0" cellpadding="0">
				<tr bgcolor="#FFFFFF">
					<td class="Head" align="left" width="67%" valign="middle" style="padding:3px;">[EDIT]</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr bgcolor="white">
		<td>
			<table class="normal" width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td width="100" class="normal" align="center" valign="top" style="padding-left:6px;padding-right:6px;">
						<img src="[THUMBNAIL]" border="0" alt="Thumbnail"/>
						<br />
					</td>
					<td class="normal" align="left" valign="top">
						[TITLE]<br />
						[DESCRIPTION]<br /><br />
						[SUMMARY]
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr bgcolor="white">
		<td align="right" style="padding-right: 4px;" class="breadcrumb">
			[LABEL:Updated] [CREATEDDATE]
		</td>
	</tr>
</table>

<br />
