<table class="normal" cellspacing="0" cellpadding="0" style="width: 100%; padding: 6px; margin-bottom: 6px;">
	<tr bgcolor="white" width="100%">
		<td class="normal" style="text-align: left;" colspan="2">
			[UPLOADBUTTON][MODERATEBUTTON]
		</td>
		<td class="normal" style="text-align: right;">
			[SEARCH]
		</td>
	</tr>
	<tr bgcolor="white" width="100%">
		<td class="breadcrumb" align="left" valign="top" width="155">
			[LABEL:Categories]<br />
			[CATEGORIES]
		</td>
		<td class="breadcrumb" align="left" valign="top" width="100">
			[LABEL:Sort]<br />
			[SORT]
		</td>
		<td class="breadcrumb" style="text-align: right; vertical-align: bottom;">
			[PREVIOUSPAGE]&nbsp;[CURRENTPAGE]&nbsp;[LABEL:of]&nbsp;[PAGECOUNT]&nbsp;[NEXTPAGE]
		</td>
	</tr>
</table>
