<link rel="stylesheet" type="text/css" href="[TEMPLATEIMAGEFOLDER]/rtMetro.css" />
<div class="rtItem">
	
	<div class="rtHeaderFooter" style='width: 95%; margin-bottom: 24px; margin-left: 8px;'>
	[SHOWLISTPAGE]&nbsp;|&nbsp;[DOWNLOAD]&nbsp;|&nbsp;File Size: [FILESIZE]
	</div>

	<div class='rtIcon' style='margin-top: 57px;'>
		<img src="[TEMPLATEIMAGEFOLDER]/images/itemArrow.png" width="30" alt="">
	</div>
	<div class='rtEdit' style='margin-top: 60px;'>[EDIT]</div>
	<div class="rtTitle">[TITLE][RATINGS]</div>
	<div class="rtDateLine">[UPDATEDDATE] - Uploaded by [AUTHOR]</div>
	<div class="rtDescription">
		[SUMMARY]
	</div>
	<div class="rtDescription" style="margin-top: 12px; margin-bottom: 12px">[DESCRIPTION]</div>
	<div class="rtComments">[COMMENTS]</div>
		
	<div class='rtDownloads' style='margin-top: 57px; margin-right: 4px;'>
		<div class='rtCount'>[DOWNLOADCOUNT]</div>
		<div class='rtDownloadText'>DOWNLOADS</div>
	</div>

	<div class='rtRatingForm'>[RATINGSFORM]</div>
	<div class='rtCommentsForm'>[COMMENTSFORM]</div>
	
</div>