<div class="rtItem">

	<div class='rtIcon'><img src="[TEMPLATEIMAGEFOLDER]/images/itemArrow.png" width="30" alt=""></div>
	<div class='rtEdit'>[EDIT]</div>
	<div class="rtTitle">[TITLE][RATINGS]</div>
	<div class="rtDateLine">[UPDATEDDATE] - Uploaded by [AUTHOR]</div>
	<div class="rtDescription">[SUMMARY]</div>
	<div class="rtComments">[SHOWDETAILSPAGE]&nbsp;([FILESIZE])&nbsp;|&nbsp;[COMMENTS]</div>
		
	<div class='rtDownloads'>
		<div class='rtCount'>[DOWNLOADCOUNT]</div>
		<div class='rtDownloadText'>DOWNLOADS</div>
	</div>

	<div class='rtRatingForm'>[RATINGSFORM]</div>
	<div class='rtCommentsForm'>[COMMENTSFORM]</div>
		
</div>