<table class="normal" width="100%" cellspacing="0" cellpadding="0" style="padding-top: 4px">
	<tr bgcolor="White">
		<td width="1" align="left" valign="top">[EDIT]</td>
		<td width="16" align="left" valign="top" style="padding-right:2px;">[FILEICON]</td>
		<td class="normal" align="left" valign="top">[TITLE]</td>
		<td width="120" class="normal" align="left" valign="top">[UPDATEDDATE]</td>
		<td width="60" class="normal" align="left" valign="top">[FILESIZE]</td>
		<td width="80" class="normal" align="left" valign="top">[DOWNLOAD]</td>
	</tr>
</table>