<table class="normal" width="100%" cellspacing="0" cellpadding="2">
	<tr>
		<td class="Head" align="left" valign="middle" colspan="2" bgcolor="white">[EDIT][TITLE]</td>
	</tr>
	<tr>
		<td width="100%" class="normal" align="left" valign="top">
			[DESCRIPTION]<br />
		</td>
	</tr>
	<tr>
		<td width="100%" class="normal" align="left" valign="top" style="border-bottom:1px dotted dimgray">
			[LABEL:Posted] [CREATEDDATE] [LABEL:by] [AUTHOREMAIL] | [COMMENTS]
			<br />
			[COMMENTSFORM]<br />
		</td>
	</tr>
</table>
<br />