<table summary="form_table" class="normal" style="width: 500px;" cellspacing="0" cellpadding="4">
	<tr style="height: 40px;">
		<td class="Head" valign="top">[LABEL:Header]</td>
	</tr>
	<tr>
		<td class="normal" valign="top">[LABEL:NoModerationRequired][LABEL:ModerationRequired]<br />
			<br />
		</td>
	</tr>
	<tr>
		<td class="normal">
			<table summary="form_fields_table" class="SubHead" style="width: 100%;" cellspacing="0" cellpadding="0">
				<tr>
					<td align="left" valign="top" width="150">[DNNLABEL:Title]</td>
					<td align="left" valign="top">[TITLE]</td>
				</tr>
				<tr>
					<td align="left" valign="top" width="150">[DNNLABEL:Categories]</td>
					<td align="left" valign="top">[CATEGORIES]</td>
				</tr>
				<tr>
					<td align="left" valign="top" width="150">&nbsp;</td>
					<td align="left" valign="top">[ATTRIBUTES]</td>
				</tr>
				<tr>
					<td align="left" valign="top" width="150">[DNNLABEL:Author]</td>
					<td align="left" valign="top">[AUTHORNAME]</td>
				</tr>
				<tr>
					<td align="left" valign="top" width="150">[DNNLABEL:EMail]</td>
					<td align="left" valign="top">[AUTHOREMAIL]</td>
				</tr>
				<tr>
					<td align="left" valign="top" width="150">[DNNLABEL:AuthorImage]<br />
						<br />
					</td>
					<td align="left" valign="top">[IMAGE]<br />
						<br />
					</td>
				</tr>
				<tr>
					<td align="left" valign="top" colspan="2" style="padding: 4px; border-left: dashed 1px DimGray;border-top: dashed 1px DimGray;border-right: dashed 1px DimGray;">[DNNLABEL:FileName][LABEL:DownloadVersion]</td>
				</tr>
				<tr>
					<td align="left" valign="top" width="150" style="padding: 4px; border-left: dashed 1px DimGray;border-bottom: dashed 1px DimGray">&nbsp;</td>
					<td align="left" valign="top" style="padding: 4px; border-bottom: dashed 1px DimGray;border-right: dashed 1px DimGray">[FILE]</td>
				</tr>
			</table>
			<br />
			<table summary="form_summary_table" class="SubHead" style="width: 100%;" cellspacing="0" cellpadding="0">
				<tr>
					<td align="left" valign="top">
						[DNNLABEL:Summary]<br />
						[SUMMARY]
					</td>
				</tr>
			</table>
			<br />
			<table summary="form_description_table" class="SubHead" style="width: 100%;" cellspacing="0" cellpadding="0">
				<tr>
					<td align="left" valign="top">
						[DNNLABEL:Description]<br />
						[DESCRIPTION]
					</td>
				</tr>
			</table>
			[LABEL:Guidelines]<br />
			[UPLOADBUTTON]&nbsp;[CANCELBUTTON]&nbsp;[DELETEBUTTON]<br />
		</td>
	</tr>
</table>
