<table class="normal" bgcolor="white" width="100%" cellspacing="0" cellpadding="6" style="border-color:DimGray;border-width:1px;border-style:Solid">
	<tr>
		<td width="225" class="normal" align="center" valign="top">
			<table width="225" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<img src="[TEMPLATEIMAGEFOLDER]35-mm-Frame_01.jpg" width="21" height="28" alt="" />
					</td>
					<td>
						<img src="[TEMPLATEIMAGEFOLDER]35-mm-Frame_02.jpg" width="181" height="28" alt="" />
					</td>
					<td>
						<img src="[TEMPLATEIMAGEFOLDER]35-mm-Frame_03.jpg" width="23" height="28" alt="" />
					</td>
				</tr>
				<tr>
					<td>
						<img src="[TEMPLATEIMAGEFOLDER]35-mm-Frame_04.jpg" width="21" alt="" />
					</td>
					<td align="center">
						<a href="[IMAGE]" target="_black">
							<img src="[THUMBNAIL]" alt="" border="0" />
						</a>
					</td>
					<td>
						<img src="[TEMPLATEIMAGEFOLDER]35-mm-Frame_06.jpg" width="23" alt="" />
					</td>
				</tr>
				<tr>
					<td>
						<img src="[TEMPLATEIMAGEFOLDER]35-mm-Frame_07.jpg" width="21" height="57" alt="" />
					</td>
					<td>
						<img src="[TEMPLATEIMAGEFOLDER]35-mm-Frame_08.jpg" width="181" height="57" alt="" />
					</td>
					<td>
						<img src="[TEMPLATEIMAGEFOLDER]35-mm-Frame_09.jpg" width="23" height="57" alt="" />
					</td>
				</tr>
			</table>
		</td>
		<td class="normal" align="left" valign="top" height="100%">
			<table class="normal" width="100%" height="100%" cellspacing="0" cellpadding="2" border="0">
				<tr height="25">
					<td class="Head" align="left" valign="middle" bgcolor="white" border="0">[EDIT][TITLE]</td>
				</tr>
				<tr>
					<td class="normal" align="left" valign="top" bgcolor="whitesmoke" style="border:1px LightGrey dotted">
						<span class="SubHead">[LABEL:Description]:</span><br />
						[DESCRIPTION]<br />
					</td>
				</tr>
				<tr height="25">
					<td class="normal" align="left" valign="bottom" bgcolor="white" border="0">
						<br />
						<br />
						<b>[LABEL:Author]:</b> [AUTHOR] ([AUTHOREMAIL])<br />
						<b>[LABEL:Updated] </b>[UPDATEDDATE]<br />
						<font color="DimGray">[LABEL:AuthorCopyright]</font>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="SubHead" align="right" valign="middle" colspan="2" bgcolor="Gainsboro" style="border-top:1px DimGray solid;padding-right:6px">
			[RATINGS]&nbsp;&nbsp;[COMMENTS]&nbsp;<br />
			[RATINGSFORM][COMMENTSFORM]
		</td>
	</tr>
</table>

<br />
