<table class="normal" cellspacing="0" cellpadding="0" style="width: 100%; padding: 3px;">
	<tr bgcolor="white" width="100%">
		<td class="normal" align="left" width="50%">
			[UPLOADBUTTON][MODERATEBUTTON]&nbsp;
		</td>
		<td class="normal" style="width: 50%; text-align: right;">
			[SEARCH]
		</td>
	</tr>
</table>
<table class="normal" cellspacing="0" cellpadding="0" style="width: 100%; padding: 3px; margin-bottom: 6px;">
	<tr bgcolor="white" width="100%">
		<td class="breadcrumb" style="text-align: left; vertical-align: top; width: 1px; padding-right: 6px;">
			[LABEL:Categories]<br />
			[CATEGORIES]
		</td>
		<td class="breadcrumb" style="text-align: left; vertical-align: top; width: 1px;">
			[LABEL:Sort]<br />
			[SORT]
		</td>
		<td class="breadcrumb" style="text-align: right; vertical-align: bottom;">
			[PREVIOUSPAGE]&nbsp;[CURRENTPAGE]&nbsp;[LABEL:of]&nbsp;[PAGECOUNT]&nbsp;[NEXTPAGE]
		</td>
	</tr>
</table>
