<table class="normal" width="500" cellspacing="0" cellpadding="4">
	<tr height="40">
		<td class="Head" valign="top">[LABEL:Header]</td>
	</tr>
	<tr>
		<td class="normal" valign="top">[LABEL:NoModerationRequired][LABEL:ModerationRequired]<br />
			<br />
		</td>
	</tr>
	<tr>
		<td class="normal">
			<table class="SubHead" width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td align="Left" valign="Top" width="180">[DNNLABEL:Title]</td>
					<td align="Left" valign="Top">[TITLE]</td>
				</tr>
				<tr>
					<td align="Left" valign="Top" width="180">[DNNLABEL:FileName]</td>
					<td align="Left" valign="Top">[FILE]</td>
				</tr>
				<tr>
					<td align="Left" valign="Top" width="180">[DNNLABEL:Image]</td>
					<td align="Left" valign="Top">[IMAGE]</td>
				</tr>
				<tr>
					<td align="Left" valign="Top" width="180">[DNNLABEL:Categories]</td>
					<td align="Left" valign="Top">[CATEGORIES]</td>
				</tr>
				<tr>
					<td align="Left" valign="Top" width="180">&nbsp;</td>
					<td align="Left" valign="Top">[ATTRIBUTES]</td>
				</tr>
				<tr>
					<td align="Left" valign="Top" width="180">[DNNLABEL:Author]</td>
					<td align="Left" valign="Top">[AUTHORNAME]</td>
				</tr>
				<tr>
					<td align="Left" valign="Top" width="180">[DNNLABEL:EMail]</td>
					<td align="Left" valign="Top">[AUTHOREMAIL]</td>
				</tr>
			</table>
			<br />
			<table class="SubHead" width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td align="Left" valign="Top">[DNNLABEL:Description]<br />[DESCRIPTION]</td>
				</tr>
			</table>
			[LABEL:Guidelines]<br />
			<table class="SubHead" width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td align="Left" valign="Top">[DNNLABEL:Summary]<br />[SUMMARY]</td>
				</tr>
			</table>
			<br />
			[UPLOADBUTTON]&nbsp;[CANCELBUTTON]&nbsp;[DELETEBUTTON]<br />
		</td>
	</tr>
</table>
