<div class="nifty">
	<table class="normal" width="100%" cellspacing="0" cellpadding="2" border="0">
		<tr width="100%">
			<td colspan="2">
				<table class="normal" width="100%" cellspacing="0" cellpadding="0">
					<tr>
						<td class="Head" align="left" width="1" valign="middle">[EDIT]</td>
						<td class="Head" align="left" valign="middle" style="padding-left:3px">[TITLE]</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr width="100%">
			<td width="320" class="normal" align="left" valign="top">
				<!-- begin embedded WindowsMedia file... -->
				<table border="0" cellpadding="0" align="center" width="100%">
					<tr>
						<td width="320" align="center" bgcolor="white" style="background-image:url([IMAGEURL]);background-position:center center;background-repeat:no-repeat;border-top:2px solid white;border-left:2px solid white;border-right:2px solid DimGray;border-bottom:2px solid DimGray">
							<object id="mediaPlayer" width="320" height="240" classid="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701" standby="Loading..." type="application/x-oleobject">
								<param name="fileName" value="[FILEURL]" />
								<param name="animationatStart" value="1" />
								<param name="transparentatStart" value="1" />
								<param name="autoStart" value="0" />
								<param name="showControls" value="1" />
								<param name="loop" value="0" />
								<embed type="application/x-mplayer2" pluginspage="http://microsoft.com/windows/mediaplayer/en/download/" id="mediaPlayer" name="mediaPlayer" displaysize="4" autosize="1" bgcolor="darkblue" showcontrols="true" showtracker="1" showdisplay="0" showstatusbar="1" videoborder3d="1" width="320" height="240" src="[FILEURL]" autostart="0" designtimesp="5311" loop="0">
		      </embed>
							</object>
						</td>
					</tr>
					<!-- ...end embedded WindowsMedia file -->
				</table>
			</td>
			<td width="100%" align="left" valign="top" style="padding:4px"> 
				[LABEL:UploadedBy]<br />
				[AUTHOR]<br />
					<br />
				[LABEL:Size]<br />
				[FILESIZE]<br />
					<br />
				[LABEL:Updated]<br />
				[UPDATEDDATE]<br />
			</td>
		</tr>
		<tr width="100%">
			<td colspan="2" style="border-top:1px dotted DimGray;padding:8px">
				[LABEL:Description]<br />
				[DESCRIPTION]
				<br />
				<br />
				[RATINGS]&nbsp;[COMMENTS]<br />
				[RATINGSFORM][COMMENTSFORM]
			</td>
		</tr>
	</table>
</div>

<br />
